form {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form.email-form {
  width: min(400px, 65vw);
}

form.payment-form {
  width: min(500px, calc(90vw - 20px));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form h2 {
  margin-top: 0;
}

form li + li {
  margin-top: 1em;
}

.email-form label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.email-form input,
.email-form textarea {
  font: 1em sans-serif;
  width: min(300px, 65vw);
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 1em;
  padding: .3em .75em;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.email-form .button {
  padding-left: 90px;
}

.email-form button {
  margin-left: 0.3em;
}

.form-content {
  margin: 0 auto;
}

.payment-form {
  label span {
    display: inline-block;
    text-align: right;
  }

  input,
  textarea {
    font: 1em sans-serif;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    border: none;
  }

  fieldset {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  button {
    margin: 20px 0 0 0;
  }

  label {
    position: relative;
    display: inline-block;
  }

  p label {
    width: 100%;
  }

  label em {
    position: absolute;
    right: 5px;
    top: 20px;
  }
}