.container {
  display: grid;
  /* grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px; */
  grid-template: 50px 50px/ 50px 50px; /*shorthand, rows / columns*/
  column-gap: 10px;
  row-gap: 30px;
}

.container > div {
  border: 1px solid blue;
}