@font-face {
  font-family: 'Kode';
  src: url('../fonts/KodeMono.ttf') format('ttf');
}

body {
  background: #fafafa;
  color: #333;
}

.hello { 
  color: blue;
  font-family: 'Kode';
  background: url('../img/odin.png');
}